/* fonts.css */
/* This file is loaded via the google font loader to provide smart loading of webfonts */

/* Montserrat */

/* Light */
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Light.eot');
  src: url('Montserrat-Light.eot#iefix') format('embedded-opentype'),
       url('Montserrat-Light.woff') format('embedded-opentype'), 
       url('Montserrat-Light.ttf') format('truetype'),
       url('Montserrat-Light.svg') format('svg');
  font-weight: light;
  font-weight: 200;
  font-style: normal;
}

/* Normal */
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.eot#iefix') format('embedded-opentype'),
       url('Montserrat-Regular.woff') format('embedded-opentype'), 
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

/*Bold*/
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold.eot');
  src: url('Montserrat-Bold.eot#iefix') format('embedded-opentype'),
       url('Montserrat-Bold.woff') format('embedded-opentype'), 
       url('Montserrat-Bold.ttf') format('truetype'),
       url('Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}
