/* 320.css */
/* Based on the calculation 16px = 100% = 12pt = 1em as standard font size */
/* General colour combos */
/*
  SSC Blue:   #30779C;
  SSC Green:  #14807C;
  SSC Purple: #5C4364; [HEADING Font Colour]
  SSC Orange: #F79433;
*/

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  color: #444;
  font-weight: 200;
  font-style: normal;
  font-size:  100%;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, textarea, input {
  font-family: 'Montserrat', sans-serif;
}

.ie6 body, .ie7 body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Basic typography */
h1 {
  color: #000;
}

h2, h3, h4, h5, h6 {
  color: #2D779E; /* TODO: double check this blue colour */
}

h1 {
  font-size: 1.8em; 
  line-height: 1.3em;
}

h2 {
  font-size: 1.6em; 
  line-height: 1.3em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: .5em;
}

h3, h4, h5, h6 {
  line-height: 1.125em; /* 18px */
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

p + h2, p + h3, p + h4, p + h5, p + h6,
ol + h2, ol + h3, ol + h4, ol + h5, ol + h6,
ul + h2, ul + h3, ul + h4, ul + h5, ul + h6,
img + h2, img + h3, img + h4, img + h5, img + h6,
blockquote + h2, blockquote + h3, blockquote + h4, blockquote + h5, blockquote + h6 {
  margin-top: 1em;
}

p, pre, address {
  margin-bottom: .8em;
  font-weight: 200;
}

small,
.date {
  font-size: .688em; /* 11px */
}

abbr, code, kbd, samp, small, var {
  line-height: .938em; /* 15px */
}

code {
  padding: 2px 4px;
  background-color: #f5f2f0;
  color: blue;
  font-size: .8em;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

ul, ol, dl, dialog {
  margin-top: 1.125em; /* 18px */
  margin-bottom: 1.125em;
}

ul ul {
  padding: 0;
  margin: 0 0 0 1.5em;
}

.admin-menu ul ul {
  padding: inherit;
  margin: inherit;
}

li ul, li ol, ul ul, ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

li h1, li h2, li h3,
li h4, li h5, li h6,
form, legend {
  font-size: .813em; /* 13px */
  line-height: 1.12em;
}

li ul, 
li ul li a, 
li ul li {
  padding: 0;
  margin: 0;
}

table {
  font-size: .813em; /* 13px */
}

caption {
  font-size: .813em; /* 13px */
  line-height: 1.125em; /* 18px */
}

hr {
  margin: 1.125em 0 .875em 0; /* 18 0 14px 0 */
  height: 4px;
}

blockquote {
  margin-left: 2em;
  padding: 0 0 0 1em;
  border-left: 3px solid #3775b4;
}

p + blockquote {
  color: #3775b4;
}

#SSC_CUSTOM_2CUSTOM_2 svg {
  width: 110%; 
}

.lead, .summary {
  color: #5277ad;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

p.tiny {
  margin-bottom: 0;
}

.breadcrumb {
  font-size: .8em;
}

.visuallyhidden {
  position: initial;
}

/******************** Base ********************/

b, strong, caption, th, thead, dt, legend {
  font-weight: 700;
}

cite, dfn, em, i {
  font-style: italic;
}

code, kbd, samp, pre, tt, var {
  font-family: mono-space, monospace;
}

pre {
  white-space: pre;
}

del, .strike {
  text-decoration: line-through;
}

mark, .highlight {
  padding: 0 .25em;
  background: rgba(255, 255, 0, .4);
}

ins {
  color: #f00;
}

small, sup, sub {
  font-size: 80%;
}

big {
  font-size: 125%;
  line-height: 80%;
}

abbr, acronym {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 85%;
}

abbr[title], acronym[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

sup, sub {
  line-height: 0;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

hr {
  width: 100%;
  border: none;
  background: #ddd;
}

input, select, button {
  cursor: pointer;
}

table {
  width: 100%;
  font: inherit;
}

/* html 5 */

article, aside, header, hgroup,
nav, figure, section, footer {
  display: block;
}

/******************** Table ********************/
table {
  margin-top: 1.125em; /* 18px */
  font-size: .9em;
  border-collapse: collapse;
  border-top: solid 3px #000;
}

th, td {
  padding: .563em 1.125em .500em; /* 9px 18px 8px 0 */
  line-height: 1.125em; /* 18px */
}

thead th, thead td {
  padding-top: .438em; /* 7px */
}

tfoot th, tfoot td {
  padding-bottom: .500em; /* 8px */
}

tbody th, tbody td,
tfoot th, tfoot td {
  border-top: solid 1px #000;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

tbody tr:nth-child(odd) th,
tbody tr:nth-child(odd) td {
  background: rgba(45, 119, 158, .035); /*TODO Add in hex fallback */
}

tr:focus, tr:hover {

  background-color: rgba(247, 148, 50, .1); /*TODO Add in hex fallback */
}

caption {
  top: .313em; /* 15px */
  margin-bottom: 1.125em; /* 18px */
}

/*********/
/* Forms */
/*********/

#content form {
  border: 0;
  padding: 1em 0;
}

fieldset {
  margin: 1em 0;
  border-bottom: 1px dotted #ccc;
}

.fieldset-description {
  margin-bottom: .8em;
  line-height: 18px;
}

fieldset legend {
  margin: .8em 0;
  border: none;
}

#content .form-item {
  margin-bottom: 1em;
}

input[type=submit] {
  position: relative;
  padding: .4em 1em;
  border: 1px solid #14807C;
  border-radius: 10px;
  background-color: #14807C;
  color: #fff;
  font-size: 1.1em;
}

input[type=submit]:hover,
input[type=submit]:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(20,128,124,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(20,128,124.75);
  box-shadow: 0px 0px 10px 0px rgba(20,128,124.75);
/*  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=2, Color='#14807C')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=2, Color='#14807C');*/
  text-decoration: none;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -kthtml-transition: all 0.1s linear;
}

input[type=text],
input[type=password],
input[type=email] {
  padding: .9em .45em;
  line-height: 1.12em;
}

label {
  line-height: 1.12em;
  font-size: 1.1em;
}

/* Link */
a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* c3 */
.c3 {
  width: 100%;
}

.c3-axis-x {
  width: 100%;
}

.c3-legend-item {
  padding: 1em 0;
  font-size: inherit;
}

.c3-tooltip {
  border: none;
  background-color: #fff;
  color: #222;
  opacity: 1;
}

.c3-tooltip th {
  background-color: #aaa;
  font-size: 0.715em;
  padding: 0.5em;
  text-align: center;
  color: #222; 
  border: none;
}

.c3-tooltip td {
  padding: 0.5em;
  font-size: .8em;
}

/*.c3-line{
  stroke-dasharray: 3,3;
}*/

.page-dashboard .field-collection-view,
.node-type-data-item .field-collection-view {
  padding: 0;
  margin: 0;
}

/* Circle */
.blue-circle, 
.orange-circle,
.black-circle,
.green-circle,
.purple-circle,
.darkpurple-circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%; 
  color: #fff;
  width: 100%;
  height: 100%;
}

.blue-circle span, 
.orange-circle span,
.black-circle span,
.green-circle span,
.purple-circle span,
.darkpurple-circle span{
    text-align: center;  
}

.blue-circle {
  background-color: #27aae1;
  border: #27aae1;
}

.orange-circle {
  background-color: #f7941e;
  border: #f7941e;
}

.green-circle {
  background-color: #00a651;
  border: #00a651;
}

.purple-circle {
  background-color: #ac4399;
  border: #ac4399;
}

.darkpurple-circle {
  background-color: #5c4364;
  border: #5c4364;
}

.black-circle {
  background-color: #000;
  border: #000;
}

.h30 {
  padding: 6em 2em;
  text-align: center;
  margin: 2em auto;
  max-width:100%;
  width: 250px !important;
  height: 250px;
}

/* The following Customised Classes MAY also be in the 768.css !!!IMPORTANT!!! */
/* Adding different global multi usage classes */

/* Width */
.full-width {
  width: 100%;
}

.centered {
  margin: 0 auto;
}

.w1050 {
  max-width: 1050px;
}

.w1008 {
  max-width: 1008px;
}

.w960 {
  max-width: 960px;
}

.w800 {
  max-width: 800px;
}

.w30percent, .w40percent, .w50percent, .w60percent, .w70percent {
  width: 100%;
}

.curve {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  -khtml-border-radius: 10px; 
}

.transparency {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.list-hoz {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-left {
  float: none;
  padding: 0;
  margin: 0;
}

.content-right {
  float: none;
  padding: 0;
  margin: 0;
}

.wbtn_transparent {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 0.4em 1em 0.6em 1em;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -kthtml-transition: all 0.5s linear;
  display: inline-block;
}

.wbtn_transparent:hover,
.wbtn_transparent:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=2, Color='#ffffff')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=2, Color='#ffffff');
  text-decoration: none;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -kthtml-transition: all 0.1s linear;
}

.bbtn_transparent {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  padding: 0.4em 1em;
}

.wbtn_blue {
  border: 1px solid #2D779E;
  background-color: #FFFFFF;
  color: #2D779E;
  padding: 0.4em 1em 0.6em 1em;
  margin-right: 1em;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -kthtml-transition: all 0.5s linear;
  display: inline-block;
}

.wbtn_blue:hover,
.wbtn_blue:focus {
  color: #2D779E;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(45,119,158,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(45,119,158,0.75);
  box-shadow: 0px 0px 10px 0px rgba(45,119,158,0.75);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=2, Color='#ffffff')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=2, Color='#ffffff');
  text-decoration: none;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -kthtml-transition: all 0.1s linear;
}

.negative-margin {
  position: relative;
  top: -.6em;
  background: #30779C;
}

.print-only {
  display: none;
  visibility: hidden;
}

/* Start Customised Stylesheet */
/* From top of page to the bottom of page */ 

/* Main Menu */

/*================*/
/* Jump links     */
/*================*/
.page-info {
  position: absolute;
  left: 0;
  padding: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  list-style: outside none;
}

.page-info ul, .page-info li {
  list-style: none;
  padding: 0;
}

.page-info a {
  position: absolute;
  display: inline-block;
  text-align: center;
  left: -99999px;
  top: 0px;
}

.page-info a:focus,
.page-info a:hover {
  left: 0;
  top: 0;
  z-index:9999;
  height: auto;
  margin: 0 auto;
  padding: .4em 2em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #333;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

    border: 1px solid #333;
}

/* Header */
#header {
  background-color: #30779C;
}

#header-content {
  padding: 1em;
}

/* Tabs */
.tabs {
  font-size: .8em;
}

/* hide tabs on the user page */
.page-user .tabs {
  display: none;
}

/* Sidebar extra */
#side-bar-extra,
.contact-480 {
  display: none;
  visibility: hidden;
}

/* Logo */ 
#logo {
  max-width: 200px;
  margin: 0 auto;
}
#logo a {
  /*The following padding is fixing the ::selection, make sure the borders are appearing*/
  margin: .2em;
  text-align: center;
  display: block;
}

/* Search */

/* Content */

#content > .contents {
  clear: both;
}

/* Provide some padding underneath the header block */
#block-system-main {
  padding: 1em 0 0 0;
}

#indent-main,
#highlighted {
  padding: 0 1em;
}

.front #block-system-main {
  padding: 1em 0;
}

#content h1 {
  text-align: center;
  padding: 0;
  color: #fff;
  background-color: #14807C;
}

.node-type-chart #content h1 {
  background-color: #F79432;
}

#content #page-title {
  padding: 1em 0em 1em 0;
  margin: 0;
}

/* Content - Homepage content & Rounded numbererd lists */

.front ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    list-style: decimal;
    padding: 0 2em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.front ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.front ol li,
.rounded-list li {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;   
}

.front ol li:hover,
.rounded-list li:hover {
  background: #eee;
}

.front ol li:hover:before,
.rounded-list li:hover:before {
/*  transform: rotate(360deg);  
*/}

.front ol li:before,
.rounded-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -1.3em;
  top: 50%;
  margin-top: -1em;
  background: #f79432;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

/* Content - Special - Can be changed */
.node-type-chart #content h1 {
  color: #000;
}

.node-type-data-item #content h1,
.page-dashboard #content h1 {
  background-color: #F79433;
  color: #000;
}

.page-dashboard h2,
.page-dashboard h3,
.page-dashboard h4 {
  color: #30769c;
}

/* service level metric / Reportable Service Level headings */
.page-dashboard h3 {
  font-size: 1.2em;
  color: #444;
}

.field-name-field-chart-title {
    font-size: 1.2em;
    color: #2D779E;
    margin-bottom: .4em;
}

.view-dashboard-v2.view-display-id-page .views-row {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px dotted #ccc;
}

#block-views-dashboard-v2-block-1 {
  margin: 0 1em;
}

#edit_field_reporting_requirements_tid_chosen {
  min-width:300px;
  max-width:100%;
}

#edit_field_reporting_requirements_tid_chosen li.active-result {
  white-space: nowrap;
}

/* force charts to use a system font */
#content .c3 svg {
  font-family: sans-serif!important;
}

/* Content Dashboards */

.view-dashboard .views-row {
  margin-bottom: 1.5em;
}

/* Content - User Login */
form#user-login,
form#views-exposed-form-dashboard-page {
  float: none;
  display: block;
  border: none;
  background-color: transparent;
}

#block-block-16 {
  float: none;
  border-top: 1px solid #14807C;
  border-left: none;
  padding: 1em;
}

/* Main Menu */

.menu-block-wrapper {
  width: 200px;
  margin: 0 auto;
  padding: .5em 0 .2em;
}

.menu-block-wrapper select {
  background-color: #30779c;
  color: #fff;
  border: 1px solid #fff;
}

form .form-item .description:before {
  border: 5px solid #fff;
  border-bottom-color: #045d8b;
}

/* Hide the Home link on the homepage */
.front #block-menu-block-1  .link-home,
.front .link-home {
  display: none;
}

#block-menu-block-1 h2 {
  display:none;
}

/* Content - Contact us */
select#edit-submitted-enquiry-type,
select#edit-field-reporting-requirements-tid,
select#edit-field-agency-tid,
.chosen-container-single .chosen-single {
  padding: .9em .45em;
  line-height: 1.12em;
  height: 38px;
  min-width:300px;
  max-width:500px;
}

a.chosen-single b {
  padding: 1em;
  margin: .5em 0 0 0;
}

/* Print button */
#block-block-31 {
  text-align: right;
  font-size: .8em;
}

/* Footer */
#footer {
  clear: both;
  background-color: #F2F2F2;
  font-size: .8em;
  clear: both;
  margin-top: 2em;
}

#fmid {
  background-color: #14807C;
  color: #fff;
  padding: 2em 0;
}

#fmid a {
  color: #fff;
}

#fmid h2 {
  color: #fff;
}

#baseline {
  padding: 1em 0 0 0;
}

#last_modify {
  text-align: center;
  padding: 1em 0;
}

/* Adjustable  */
/* Adjust the text layout */
#content-region, 
.footer-nav-region {
  padding: 0 1em;
}

/* Footer blocks */
#footer #block-block-5 {
  border-right: none;
}

#footer #block-block-5,
#footer #block-menu-menu-ssc,
#footer #block-menu-menu-legal,
#footer #block-block-7 {
  float: none;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
}

#footer #block-block-5 ul,
#footer #block-menu-menu-ssc ul,
#footer #block-menu-menu-legal ul,
#footer #block-block-7 ul {
  padding: 0;
  margin: 0;
}

#footer #block-block-5 li,
#footer #block-menu-menu-ssc li,
#footer #block-menu-menu-legal li,
#footer #block-block-7 li {
  float: none;
  padding: 0.2em;
  margin: 0;
}

#footer #block-block-5 li a,
#footer #block-menu-menu-ssc li a,
#footer #block-menu-menu-legal li a,
#footer #block-block-7 li a {
  padding: 0;
  margin: 0;
}

#footer #block-block-5 h2,
#footer #block-menu-menu-ssc h2,
#footer #block-menu-menu-legal h2,
#footer #block-block-7 h2 {
  font-weight: 500;
  margin: 1em 0;
  padding: 0 0 0 0.2em;
}

/* Baseline */
#baseline #block-block-9 {
  float: none;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

#baseline #block-block-9 img {
  float: left;
  padding: 0 1em;
}

#baseline #block-multiblock-3 {
  padding-bottom: 1em;
  width: 199px;
  margin: 0 auto;
}


/* C3 Style Overrides */

/* tooltip */

/* New Dashboard Styles */

.node-type-dashboard .container {
  margin-bottom: 1em;
}

/* applied to h2 tags on Dashboard pages */
.section-divider {
  border-top: 1px solid #eee;
  padding-top: 1px;
  margin-top: 2em;
}

.node-type-dashboard h4 {
  font-size: .9em;
  color: #333;
}

.description {
  font-size: .8em;
  color: #565656;
  line-height: 1.2em;
  display: inline-block;
}


/* Dashboard contact block */
.contact-box {
  border-top: 1px solid #eee;
  margin: .5em 0 1em;
  padding-top: 1em;
  display: inline-block;
}
.sem-name,
.sem-title {
  margin-bottom: 0;
}
.sem-name {
  font-weight: bold;
}
.sem-title {
  font-size: .9em;
}
.contact-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .9em;
}



/* Skeleton layout helper */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* SSC Note: Only being used for grid layouts - all other css removed */


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Auto-clear containers using micro-clearfix (http://nicolasgallagher.com/micro-clearfix-hack/)
 * to avoid using overflow:hidden that was hiding tooltips */
.container:before,
.container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after {
    clear: both;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

/* For devices larger than 768px */
@media (min-width: 768px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

.clearfix {
  clear:both;
}