

#header {
  width: 40%;
  float: left;  
  background-image: url("/sites/all/themes/custom/sschq_theme/images/480-green-menu.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-bottom: 2em;
}
.page-dashboard #header {
  background-image: url("/sites/all/themes/custom/sschq_theme/images/480-orange-menu.png");
}

#title-bg h1,
.page-dashboard #content h1 {
  width: 60%;
  float: right;
  margin-bottom: 5em;
}

.contextual-links-region {
  position: initial;
}

/* Main Menu */

.menu-block-wrapper {
  width: 150px;
  margin: 0 auto;
}

#block-menu-block-1 {
  display: none;
}

#block-system-user-menu {
  width: 150px;
  margin:0 auto;
}

#block-system-user-menu h2 {
  font-size: .1em;
  margin:0;
}

#block-system-user-menu select {
  background-color: #30779c;
  color: #fff;
  border: 1px solid #fff;
}

/* Footer */

#footer #block-block-5,
#footer #block-menu-menu-ssc,
#footer #block-menu-menu-legal,
#footer #block-block-7 {
  float: left;
  padding: 0.813em;
  margin: 0;
  width: 50%;
  border: 1px solid #14807C;
}

#footer #block-block-5,
#footer #block-menu-menu-legal {
  border-right: 1px solid;
  padding: 2em 1em;
}

#footer #block-menu-menu-legal {
  clear: left;
}

#footer #block-block-5 h2,
#footer #block-menu-menu-ssc h2,
#footer #block-menu-menu-legal h2,
#footer #block-block-7 h2 {
  margin: 0 0 1em 0;
}

.contact-480 {
  padding-bottom: 3em;
  visibility: initial;
  display: block;
  font-size: .5em;
  width: 90%;
  max-width: 80%;
  margin: 0 auto;
}

.contact-480 p {  
  border: 1px solid #fff;
  border-radius: 10px;
}

.page-dashboard .contact-480 p {
  border-color: #000;
}

.contact-480 a {
  color: #fff;
}

.page-dashboard .contact-480 a {
  color: #000;
}