/* The following Customised Classes are also in the 320.css !!!IMPORTANT!!! */
/* Adding different global multi usage classes */
.list-hoz {
  overflow: hidden;
}

.list-hoz li {
  float: left;
}

.w30percent {
  width: 30%;
}

.w40percent {
  width: 40%;
}

.w50percent {
  width: 50%;
}

.w60percent {
  width: 60%;
}

.w70percent {
  width: 70%;
}

.h30 {
  float: left;
  margin: 2em .45em;
  height: 10.642em;
  width: 30% !important;
  padding: 4em 2em;
}

.layout2 {
}

.content-left,
.content-right {
  float: left;
  display: inline-block;
}

.page-dashboard #header {
  width: 100%;
  float: none;
  background-image: url("/sites/all/themes/custom/sschq_theme/images/menu_bg_blue.png");
}

#title-bg h1,
.page-dashboard #content h1 {
  width: 60%;
  float: right;
  border-bottom-right-radius: 80px;
  margin-bottom: 5em;
}

/* Header */
#header,
#side-bar-extra {
  display: block;
  visibility: inherit;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 1em;
  position: relative;
  overflow: hidden;
  color: #fff;
  /* remove settings from 480px */
  float: none;
  width: auto;
}

#header {  
  background-image: url("/sites/all/themes/custom/sschq_theme/images/menu_bg_blue.png");
  width: 100%;
  float: none;
  border-bottom-left-radius: 0;
}

#title-bg h1 {
  width: 100%;
  float: none;
}

#header-content {
  margin: 1em 2em 5px 2em;
  padding: 0;
  position: relative;
  float: right;
}

/* Main Menu */
.menu-block-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

 ul.menu li {
  float: none;
}

#block-menu-block-1,
#block-system-user-menu {
  font-size: .9em;
}

#block-menu-block-1 ul,
#block-system-user-menu {
  text-align: center;
  margin: 0;
  padding: 1em .5em;
}

#block-menu-block-1 ul li {
  float: none;
}

#block-menu-block-1 ul li a {
  color: #fff;
  margin: 0.2em 0.4em 0.2em 0.2em;
}


.logged-in #block-system-user-menu {
  margin: 1em auto 3em auto;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: box-shadow 0.5s linear;
  -webkit-transition: box-shadow 0.5s linear;
  -o-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  -ms-transition: box-shadow 0.5s linear;
  -kthtml-transition: box-shadow 0.5s linear;
  padding-bottom: .9em;
  border-radius: 10px;
}

.logged-in #block-system-user-menu:hover,
.logged-in #block-system-user-menu:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
/*  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#ffffff')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#ffffff');*/
  text-decoration: none;
  transition: box-shadow 0.1s linear;
  -webkit-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -ms-transition: box-shadow 0.1s linear;
  -kthtml-transition: box-shadow 0.1s linear;
}

.home-link {
  display: none;
}

/* Second-level main menu */


#block-menu-block-1 {
  display: block;
}

#block-menu-block-1 ul li.has-w-border {
  margin: .6em .3em;
}

#block-menu-block-1 ul li a.negative-margin {
  position: relative;
  top: -1.2em;
  width: 85%;
  margin: 0 auto;
}

#block-system-user-menu {
  max-width: 165px;
}

#block-system-user-menu h2 {
  margin: -1.8em 0 .4em 0;
  font-weight: 500;
  color: #fff;
  font-size: 1em;
  background-color: #2D779E;
}

#block-system-user-menu ul {
  margin:0;
  text-align: center;
}

#block-system-user-menu li.leaf a,
#block-system-user-menu li.leaf {
  margin:.2em auto;
  padding: 0;
}

#block-system-user-menu ul li.leaf a {
  color: #fff;
}

/* Sidebar extra */

#side-bar-extra {
  margin-right: 1em;
  padding-top: .5em;
  background-image: url("/sites/all/themes/custom/sschq_theme/images/contact_bg_green.png");
}

#side-bar-extra #block-multiblock-10,
#side-bar-extra #block-multiblock-11 {
  position: relative;
  float: right;
  font-size: .8em;
  min-height: 190px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding-right: 2em;
}

#side-bar-extra #block-multiblock-10 h2,
#side-bar-extra #block-multiblock-11 h2,
#side-bar-extra #block-multiblock-11 a, 
#side-bar-extra #block-multiblock-10 a {
  color: #fff;
}

#side-bar-extra #block-multiblock-11 h2,
#side-bar-extra #block-multiblock-10 h2 {
  font-size: 1.4em;
  font-weight: 600;
  padding: 1em 0 .5em 0;
  margin: 0;
}

.contextual-links-region {
  position: relative;
}

/* Logo */

/* Main Menu */

#block-menu-block-1 .menu {
  width: 165px;
  margin: auto;
  display: block;
  padding: 0;
}

#block-menu-block-1 .menu li {
  padding: 0;
  margin: 0.2em 0 0.1em 0;
}

#block-menu-block-1 .menu ul {
  width: auto;
  margin: 0 auto .8em;
  display: block;
  padding: 0;
}

#block-menu-block-1 ul {
  margin: inherit;
  padding: 2em 0em 1em 2em;
}


#block-menu-block-1 ul a {
  color: #fff;
  margin: 0;
  padding: .2em 0;
  display: inline-block;
}

#block-menu-block-1 ul ul a {
  margin: 0;
  padding: 0;
}

#block-menu-block-1 .menu .last.expanded {
  margin-bottom: 2em;
}

/* Search */

/* Content */

.contents {
  max-width: 650px;
  padding: 0 25px;
}

#title-bg,
.node-type-data-item #title-bg,
.node-type-chart #title-bg,
.page-dashboard #title-bg {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 1em;
  position: relative;
  overflow: hidden;
  color: #fff;
}

#edit_field_reporting_requirements_tid_chosen {
  min-width:400px;
  max-width:100%;
}

#title-bg {
  background-image: url("/sites/all/themes/custom/sschq_theme/images/head_bg_green.png");  
}
.node-type-chart #title-bg,
.node-type-data-item #title-bg,
.page-dashboard #title-bg {
  background-image: url("/sites/all/themes/custom/sschq_theme/images/head_bg_yellow.png");
}

#content #page-title {
  padding: 1.2em 120px 1em 0;
  margin: 0;
/*  max-width: 650px; */}

#content h1,
.node-type-data-item #content h1,
.node-type-chart #content h1,
.page-dashboard #content h1 {
  text-align: right;
  background-color: transparent;
}

.contact-480 {
  visibility: hidden;
  display: none;
}

/* Content - User Login */
form#user-login {
  width: 55%;
  float: left;
  display: inline-block;
  padding-right: 1em;
}

#block-block-16 {
  float: left;
  display: inline-block;
  width: 40%;
  border-top: none;
  border-left: 1px solid #14807C;
}

/* Adjustable  */
/* Adjust the text layout */

#content {
  padding-left: .3em;
}

#content-region {
  padding: 0;
}

.footer-nav-region {
  padding: 0 1em;
}

#baseline {
  overflow: hidden;
  padding: 2em 0 0 0;
}

#baseline #block-block-9 {
  float: left;
  display: inline-block;
  width: 70%;
}

#baseline #block-multiblock-3 {
  float: right;
  display: inline-block;
  padding-bottom: 0;
}

#fmid {
  padding: 4em 0;
  /* use a larger image and scale it down so it looks nice on retina screens) */
  background-image: url('../images/ssc_logo_300.png');
  background-repeat: no-repeat;
  background-position: 86% 50%;
  background-size: 150px 119px;
}



#footer #block-block-5,
#footer #block-menu-menu-ssc,
#footer #block-menu-menu-legal,
#footer #block-block-7 {
  float: left;
  padding: 0.813em;
  margin: 0;
  width: 18%;
  border: none;
}

#footer #block-block-5 {
  border-right: 1px solid;
  padding: 2em 1em;
}

#footer #block-menu-menu-legal {
  clear: none;
}

#footer #block-block-5 h2,
#footer #block-menu-menu-ssc h2,
#footer #block-menu-menu-legal h2,
#footer #block-block-7 h2 {
  margin: 0 0 1em 0;
}


