/*DECOMMISSIONED SITES*/

.node-type-decommissioned-site {
  font-family: "Lato", Trebuchet, Verdana, Segoe, sans-serif;
  color: #565656;
  line-height: 1.5em;
  background-color: #e6e6e6;
}

.page {
    max-width: 650px;
    background: #fff;
    padding: 1em 3em;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
}

.node-type-decommissioned-site .page .crest {
  margin-top: 0;
}

.node-type-decommissioned-site .page h1 {
  font-size: 1.5em;
  letter-spacing: -1px;
  line-height: 1.5em;
  font-weight: 400;
}

.node-type-decommissioned-site .page .feature {
  font-size: 1.2em;
}