/* print css */
* {
  background: white !important;
  color: black !important;
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
}

body {
  font-family: arial, helvetica, sans-serif;
}

.branding-section .stacked, .page-info, .menu, #header-nav, #footer-top, .page-dashboard #footer-bottom, #block-views-slideshow-block {
  display:none;
}

.inline img{
  width:30%;
  margin-bottom:2em;
}

.paragraphs-image.left, .paragraphs-image.right {
  display:none;
}

.cc-logo {
  margin-right:20px;
}

.chart {
  display:inline-block;
}

.chart span{
  display:block;
}

.node-chart h2 {
  font-size:.8em;
}

.c3 {
  margin-top:1em;
  display:inline-block;
}

.c3 svg{
  display:inline-block;
  position:inherit;
  width:100%;
}

.c3 p{
  display:block;
}
