/* DEEWR.GOV.AU uses the Lato typeface http://www.latofonts.com/ */
/* font-face files generated using the font-face gnerator at http://www.fontsquirrel.com/fontface/generator */
/* fonts manually built to support all required entities and to match the x-height of Trebuchet (default fallback) */

/* Based on the font-squirrel template - modified to be self contained in a single Font Family */

@font-face {
    font-family: 'Lato';
    src: url('lato-blaita-webfont.eot');
    src: url('lato-blaita-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-blaita-webfont.woff') format('woff'),
         url('lato-blaita-webfont.ttf') format('truetype'),
         url('lato-blaita-webfont.svg#LatoBlackItalic') format('svg');
    font-weight: bold;
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-bla-webfont.eot');
    src: url('lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bla-webfont.woff') format('woff'),
         url('lato-bla-webfont.ttf') format('truetype'),
         url('lato-bla-webfont.svg#LatoBlack') format('svg');
    font-weight: bold;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-bolita-webfont.eot');
    src: url('lato-bolita-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bolita-webfont.woff') format('woff'),
         url('lato-bolita-webfont.ttf') format('truetype'),
         url('lato-bolita-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-bol-webfont.eot');
    src: url('lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bol-webfont.woff') format('woff'),
         url('lato-bol-webfont.ttf') format('truetype'),
         url('lato-bol-webfont.svg#LatoBold') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-regita-webfont.eot');
    src: url('lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-regita-webfont.woff') format('woff'),
         url('lato-regita-webfont.ttf') format('truetype'),
         url('lato-regita-webfont.svg#LatoItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-reg-webfont.eot');
    src: url('lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-reg-webfont.woff') format('woff'),
         url('lato-reg-webfont.ttf') format('truetype'),
         url('lato-reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-ligita-webfont.eot');
    src: url('lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-ligita-webfont.woff') format('woff'),
         url('lato-ligita-webfont.ttf') format('truetype'),
         url('lato-ligita-webfont.svg#LatoLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-lig-webfont.eot');
    src: url('lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-lig-webfont.woff') format('woff'),
         url('lato-lig-webfont.ttf') format('truetype'),
         url('lato-lig-webfont.svg#LatoLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

